<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Admission Page</title>
    <style>
        label{
            margin-left:30px;
        }

        .FormDiv{
            margin-left: 100px;
            background-color: lightgray;
            border-radius: 30px;
            display: inline-block;
        }
         input{
             margin: 0px;
         }

        button{
            width: 200px;
            margin-left: auto;
        }
        h2{
            text-align: center;
            background-color: darkcyan;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }
        #menu{
            background-image: linear-gradient(to right,darkgreen, violet,darkgreen);
          }
        .sub_button {
            margin-left:100px;
        }
    </style>
    <script>
            function sub() {
                {
                    if (sname.value == '') {
                        document.getElementById('snm').innerHTML = 'This Field is required'

                    }
                    if (fname.value == '') {
                        document.getElementById('fnm').innerHTML = 'This Field is required'
                    }
                    if (course.value == '') {
                        document.getElementById('crs').innerHTML = 'This Field is required'
                    }
                    if (email.value == '') {
                        document.getElementById('eml').innerHTML = 'This Field is required'
                    }
                    if (address.value == '') {
                        document.getElementById('addr').innerHTML = 'This Field is required'

                    }
                    if (city.value == '') {
                        document.getElementById('ct').innerHTML = 'This Field is required'
                    }
                    if (state.value == '') {
                        document.getElementById('st').innerHTML = 'This Field is required'

                    }
                    if (pin.value == '') {
                        document.getElementById('pn').innerHTML = 'This Field is required'
                    }
                    if (mobile.value == '') {
                        document.getElementById('mb').innerHTML = 'This Field is required'

                    }
                    if (dob.value == '') {
                        document.getElementById('db').innerHTML = 'This Field is required'
                    }
                    if (religion.value == '') {
                        document.getElementById('rljn').innerHTML = 'This Field is required'

                    }
                    if (gender.value == '') {
                        document.getElementById('gen').innerHTML = 'This Field is required'
                    }
                    if (image.value == '') {
                        document.getElementById('img').innerHTML = 'This Field is required'
                    }
                }
            }
    </script>
</head>
<body>
<div class="FormDiv  col-xl-10 col-sm-10 col-md-10 col-lg-10">
    <form method='post'>
        {% csrf_token %}
        <br>
        <h2 class="alabel">Student Admission form</h2>
        <br>
        <label>Student Name<span style="color: red; font-size:20px">*</span></label><br>
        <input type="text" class="form-control" id="sname" name="sname" required/>
        <span style='color:red' id='snm'></span><br>

        <label>Father's Name<span style="color: red; font-size:20px">*</span></label><br>
        <input type="text" class="form-control" id="fname" name="fname" required/>
        <span style='color:red' id='fnm'></span><br>

        <label>Course <span style="color: red; font-size:20px">*</span></label><br>
        <input type="text" class="form-control" id="course" name="course" required/>
        <span style='color:red' id='crs'></span><br>

        <label>Email<span style="color: red; font-size:20px">*</span></label><br>
        <input type="text" class="form-control" id="email" name="email" required/>
        <span style='color:red' id='eml'></span><br>

        <label>Address<span style="color: red; font-size:20px">*</span> </label><br>
        <input type="text" id='address' name="address" size="100%" class="form-control" required/>
        <span style='color:red' id='addr'></span><br>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <label>City<span style="color: red; font-size:20px">*</span></label>
                    <input type="text" id='city' name="city" class="form-control" required/>
                    <span style='color:red' id='ct'></span>
                </div>
                <div class="col-sm-4">
                    <label>State<span style="color: red; font-size:20px">*</span></label>
                    <input type="text" id='state' name="state" class="form-control" class="form-control" required/>
                <span style='color:red' id='st'></span></div>
                <div class="col-sm-4">
                    <label>PinCode<span style="color: red; font-size:20px">*</span></label>
            <input type="text" id='pin' name="pin" class="form-control" required/>
            <span style='color:red' id='pn'></span>
            </div></div></div><br>
            <div class="container">
                <div class="row">
        <div class="col-sm-4">
            <label>Mobile<span style="color: red; font-size:20px">*</span></label>
          <input type="number" id='mobile' name='mobile' class="form-control" required/>
          <span style='color:red' id='mb'></span> </div>
        <div class="col-sm-4">
            <label>DOB<span style="color: red; font-size:20px">*</span></label>
            <input type="text" id='dob' name='dob' placeholder="YYYY-MM-DD" class="form-control" required/>
            <span style='color:red' id='db'></span>
        </div>
        <div class="col-sm-4">
            <label>Religion<span style="color: red; font-size:20px">*</span></label>
            <input type="text" id='religion' name='religion' class="form-control" required/>
            <span style='color:red' id='rljn'></span>
        </div> </div></div><br><br>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <label>Gender<span style="color: red; font-size:20px">*</span></label><br>
                    <input type="text" id='gender' name="gender" class="form-control" required/>
                    <span style='color:red' id='gen'></span>
                </div>
        <div class="col-sm-6">
            <label>Choose Image<span style="color: red; font-size:20px">*</span></label><br>
            <input type="file" id='image' name="image" class="form-control" required/>
            <span style='color:red' id='img'></span><br><br>
        </div></div></div>
            <div class="container">
                <div class="row">
            <div class="col-sm-6">
            <button type="submit" class="btn btn-success btn-lg sub_button" onclick='sub()'>Submit</button>
            </div>
            <div class="col-sm-6">
            <button type="reset" class="btn btn-danger btn-lg">Reset</button>
            </div></div></div>
               </form><br><br><br>
          </div>
    </div>
  </div>
</body>
</html>